.message-success {
    color: darkolivegreen;
}

.message-loading {
    color: cornflowerblue;
}

.payir-text {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 10px;
    font-size: 16px;
}

.payir-icon {
    width: 48px;
    height: 48px;
}

.retry-btn {
    padding: 5px 10px !important;
    margin: 5px 45% 0 45% !important;
}

.message-failure {
    color: firebrick;
}