    background-repeat:no-repeat;
    color:#000000;
    font: 10px Verdana,
    Arial,
    Helvetica,
    sans-serif;
    margin-top: 10px;
}
#header1 {
    /*    position: relative;*/
    
    margin: auto;
    width: 960px;
}
.main_content {
    position: absolute;
    width: 960px;
    height: 675px;
    margin: auto;
    /*	top:0px;
            bottom:0px;*/
    
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    /*margin:0px 0px 20px 104px;*/
    
    background-color: #FFFFFF;
    visibility: visible;
    /*border-bottom-style:solid;
    border-bottom-color:blue;
    border-bottom-width:10px;*/
    
    clear: none;
}
.main_content1 {
    /*    position:relative;*/
    
    width: 960px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    background-color: #FFFFFF;
    visibility: visible;
    clear: none;
}
.title_h1 {
    float: left;
    font-size: 18.5px;
    color: #ffffff;
    padding: 0px 0 0 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*text-shadow: 1px 1px #993333;*/
}
.title_h2 {
    font-size: 11px;
    color: #ffffff;
    padding: 0px 0 0 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*text-shadow: 1px 1px #993333;*/
}
.left_content {
    /*position:absolute;*/
    /*left:10px;top:285px;*/
    
    width: 210px;
    height: 200px;
    /*float:left;*/
    
    padding: 10px 10px 50px 15px;
    /*border-right-style:dotted;
    border-right-color:#FF6600;
    border-right-width:1px;*/
}
.right_content {
    /*position:absolute;*/
    /*left:10px;top:285px;*/
    
    width: 210px;
    height: 200px;
    /*float:left;*/
    
    padding: 10px 0px 50px 15px;
    border-right-style: none;
    border-right-color: #FF6600;
    border-right-width: 1px;
}
.top {
    position: relative;
    border-style: none;
    left: 700px;
    width: 120px;
    height: 50px;
    /*background:url(images/top.png) repeat-x;*/
}
.top1 {
    position: relative;
    left: 845px;
    width: 100px;
    height: 70px;
    /*background:url(images/top1.png) repeat-x;*/
}
.footer {
    position: absolute;
    margin: auto;
    float: left;
    width: 800px;
    height: 50px;
}
.billtable td {
    /*border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px; */
    
    width: 50%;
}
.billgrid td {
    vertical-align: top;
}
.billcharges td {
    padding: 0;
}
.ui-layout-center {
    overflow: hidden !important;
}
.ui-layout-center .ui-layout-unit-content {
    overflow: hidden !important;
    text-align: left;
    font-family: sans-serif;
    font-size: 10px;
}
.ui-layout-center .ui-layout-unit-header {
    /*    background-color: #ff9900;*/
    
    font-style: normal;
    font-weight: bolder;
    color: #cc0033;
    font-family: sans-serif;
    font-size: 10px;
}
.ui-fieldset .ui-fieldset-legend {
    /*    background-color: #ff9900;*/
    
    font-style: normal;
    font-weight: bolder;
    /*    color: #cc0033;*/
    
    color: #0033ff;
    font-family: sans-serif;
    font-size: 10px;
}
.ui-fieldset .ui-fieldset-unit-content {
    font-family: sans-serif;
    font-size: 10px;
}
/*.ui-datatable-odd { background:#cde2f4; } */

.ui-datatable-odd {
    background: #ffffff;
}
.ui-datatable-even {
    background: #ffffff;
}
/*.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }
.ui-widget-header { border: 1px solid #EE9A4D; background: #F88017 url("/testpay-1.javax.faces.resource/images/ui-bg_gloss-wave_35_f6a828_500x100.png?ln=primefaces-ui-lightness") repeat-x scroll 50% 50% #F6A828; }
.ui-widget-header a { color: #ffffff; }*/
/*.ui-widget { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Lucida Grande, Lucida Sans, Arial, sans-serif; font-size: 1em; }
.ui-widget-header{border:1px solid #3B9C9C;background:#48CCCD url("#{resource['primefaces-ui-lightness:images/ui-bg_gloss-wave_35_f6a828_500x100.png']}") 50% 50% repeat-x;color:#ffffff;font-weight:bold;}
.ui-widget-header a{color:#ffffff;}*/

.table_class {
    font-size: 7.9pt;
    color: #434343;
    line-height: 15px;
    padding-left: 10px;
    padding-right: 10px;
    border-collapse: collapse;
    font-family: Arial Unicode MS, Myriad, ms sans-serif, Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
}
.table_class td {
    padding: 5px;
    padding-left: 10px;
    border: 1px solid #d1e4ee;
}
.table_head {
    font-weight: bolder;
    font-size: 8pt;
    background-color: #d1e4ee;
    height: 20px;
    border-bottom: #aeb8bc 1px solid;
    COLOR: #206283;
    font-family: Arial
}
.table_head td {
    border: 1px solid #85b7d0;
    font-size: 8pt;
    text-align: center;
}
.table_sub_head {
    border-right: #94a2ad 0px solid;
    border-top: #94a2ad 0px outset;
    font-weight: bolder;
    font-size: 8pt;
    background-color: #727c81;
    color: #ffffff;
    height: 20px;
    border-bottom: 1PX SOLID #aeb8bc;
    text-align: left;
}
.table_border {
    font-size: 7.9pt;
    color: #434343;
    line-height: 17px;
    padding-left: 13px;
    padding-left: 3px;
    padding-right: 3px;
    border-collapse: collapse;
    font-family: Arial Unicode MS, Myriad, ms sans-serif, Helvetica, Arial, sans-serif;
    margin-bottom: 20px;
    border-bottom: 1px solid #C7C7C7;
}
.table_border td {
    padding: 7px;
    padding-left: 10px;
}
.mainhis {
    /*    width: 800px;    */
    
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    border: 2px solid;
}
#watermark {
    color: #d0d0d0;
    font-size: 15pt;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: -1;
    left: -100px;
    top: -200px;
}