body_rap {
    background-repeat: no-repeat;
    color: #000000;
    font: 9px Verdana, Arial, Helvetica, sans-serif;
    margin-top: 10px;
}

#header1_rap {
    /*    position: relative;*/
    
    margin: auto;
    width: 960px;
}

.main_content_rap {
    position: absolute;
    width: 960px;
    height: 675px;
    margin: auto;
    /*	top:0px;
            bottom:0px;*/
    
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    /*margin:0px 0px 20px 104px;*/
    
    background-color: #FFFFFF;
    visibility: visible;
    /*border-bottom-style:solid;
    border-bottom-color:blue;
    border-bottom-width:10px;*/
    
    clear: none;
}

.main_content1_rap {
    /*    position:relative;*/
    
    width: 960px;
    height: auto;
    margin: auto;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .8);
    background-color: #FFFFFF;
    visibility: visible;
    clear: none;
}

.title_h1_rap {
    float: left;
    font-size: 18.5px;
    color: #ffffff;
    padding: 0px 0 0 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*text-shadow: 1px 1px #993333;*/
}

.title_h2_rap {
    font-size: 11px;
    color: #ffffff;
    padding: 0px 0 0 0px;
    font-family: Arial, Helvetica, sans-serif;
    /*text-shadow: 1px 1px #993333;*/
}

.left_content_rap {
    /*position:absolute;*/
    /*left:10px;top:285px;*/
    
    width: 210px;
    height: 200px;
    /*float:left;*/
    
    padding: 10px 10px 50px 15px;
    /*border-right-style:dotted;
    border-right-color:#FF6600;
    border-right-width:1px;*/
}

.right_content_rap {
    /*position:absolute;*/
    /*left:10px;top:285px;*/
    
    width: 210px;
    height: 200px;
    /*float:left;*/
    
    padding: 10px 0px 50px 15px;
    border-right-style: none;
    border-right-color: #FF6600;
    border-right-width: 1px;
}

.top_rap {
    position: relative;
    border-style: none;
    left: 700px;
    width: 120px;
    height: 50px;
    /*background:url(images/top.png) repeat-x;*/
}

.top1_rap {
    position: relative;
    left: 845px;
    width: 100px;
    height: 70px;
    /*background:url(images/top1.png) repeat-x;*/
}

.footer_rap {
    position: absolute;
    margin: auto;
    float: left;
    width: 800px;
    height: 50px;
}

.billtable td {
    /*border-color: #A6C9E2;
    border-style: solid;
    border-width: 1px; */
    
    width: 50%;
}

.billgrid td {
    vertical-align: top;
}

.billcharges td {
    padding: 0;
}
/*.ui-layout-center {                   
    overflow:hidden !important;
}

.ui-layout-center .ui-layout-unit-content {
    overflow:hidden !important;
    text-align: left;
    font-family: sans-serif;
    font-size: 9px;
} 

.ui-layout-center .ui-layout-unit-header{
        background-color: #ff9900;
    font-style: normal;
    font-weight: bolder;
    color: #cc0033;
    font-family: sans-serif;
    font-size: 10px;
}

.ui-fieldset .ui-fieldset-legend{
        background-color: #ff9900;
    font-style: normal;
    font-weight: bolder;
        color: #cc0033;
    color:#0033ff;
    font-family: sans-serif;
    font-size: 10px;
}
.ui-fieldset .ui-fieldset-unit-content{
    font-family: sans-serif;
    font-size: 10px;
}*/
/*.ui-datatable-odd { background:#ffffff; }
.ui-datatable-even { background:#ffffff; }*/